[Unit]
Description=Cliphist Image Watcher
After=graphical-session.target

[Service]
ExecStart=/usr/bin/wl-paste --type image --watch cliphist store
Restart=always

[Install]
WantedBy=hyprland-session.target
