[Unit]
Description=Fcitx5 Input Method
After=graphical-session.target

[Service]
ExecStart=/usr/bin/fcitx5
Restart=on-failure

[Install]
WantedBy=hyprland-session.target
