[Unit]
Description=Shikane Service
PartOf=graphical-session.target
After=graphical-session-pre.target

[Service]
ExecStart=shikane
Restart=always
RestartSec=3

[Install]
WantedBy=hyprland-session.target
