{{- include "dot_profile" -}}

{{- if lookPath "nvim" }}
export EDITOR=nvim
{{- else if lookPath "vim" }}
export EDITOR=vim
{{- end }}

if [ "$BASH" ] && [ -f ~/.bashrc ]; then
    #shellcheck source=/dev/null
    . ~/.bashrc
fi
