{{ if or (eq .chezmoi.os "linux") (eq .chezmoi.os "darwin" ) -}}
#!/usr/bin/env bash
eval "$($HOME/.local/bin/chezmoi execute-template <~/.local/share/chezmoi/dot_profile.tmpl)"

mkdir -p "$XDG_STATE_HOME"
touch "$XDG_STATE_HOME"/python_history
{{ end -}}
