{{ if ne .chezmoi.os "windows" -}}
#!/usr/bin/bash
eval "$(curl -sSL https://raw.githubusercontent.com/motty-mio2/dotfiles/main/dot_profile)"

mkdir -p "$XDG_STATE_HOME"
touch "$XDG_STATE_HOME"/python_history

if type "pacman" >/dev/null 2>&1; then
	sudo pacman -S base-devel
elif type "apt" >/dev/null 2>&1; then
	echo "Debian Mode"
	sudo apt install build-essential git python3-pip python3-venv
elif type "dnf" >/dev/null 2>&1; then
	echo "RHEL Mode"
	sudo dnf -q -y groupinstall "Development Tools"
elif type "zypper" >/dev/null 2>&1; then
	zypper install -t pattern devel_basis
else
	echo "Unknown OS or Distribution"
fi

{{-		if or (eq .machine_type "laptop") (eq .machine_type "desktop") -}}
for rule_file in $(find $HOME/.config/udev -name "*.rules"); do
	sudo ln -s $rule_file /etc/udev/rules.d/
done
sudo udevadm control --reload-rules
sudo udevadm trigger
{{- 	end -}}

{{- end }}
