{{- if eq .chezmoi.os "windows" -}}
Set-ExecutionPolicy -ExecutionPolicy RemoteSigned -Scope CurrentUser
Set-ExecutionPolicy RemoteSigned -Scope CurrentUser -Force

# Install Scoop
if ( -not (Get-Command "scoop")) {
    Invoke-WebRequest -useb get.scoop.sh | Invoke-Expression
}
scoop reset *

# scoop alias add upgrade 'scoop update && scoop update *' 'update all'
# scoop alias add backup 'scoop export > ~\scoop.txt'
# scoop alias add reinstall "scoop uninstall {0}; scoop install {0}"

# winget install Microsoft.OpenSSH.Beta --override ADDLOCAL=Client
{{ end }}
