{{- if eq .chezmoi.os "windows" -}}
Set-ExecutionPolicy -ExecutionPolicy RemoteSigned -Scope CurrentUser
Set-ExecutionPolicy RemoteSigned -Scope CurrentUser -Force

# Install Scoop
if ( -not (Get-Command "scoop")) {
    Invoke-WebRequest -useb get.scoop.sh | Invoke-Expression
}
Write-Output "Install Git"
. $HOME\scoop\shims\scoop.cmd install git

$Env:Path="$HOME\\scoop\\shims;$ENV:Path"

# winget install Microsoft.OpenSSH.Beta --override ADDLOCAL=Client
{{ end }}
