Include {{ joinPath .chezmoi.homeDir "/.ssh/config.d/*.conf" }}
{{- if glob ( joinPath .chezmoi.homeDir "/.local/share/lima/*/ssh.config" ) }}
Include {{ joinPath .chezmoi.homeDir "/.local/share/lima/*/ssh.config" }}
{{- end }}

Match User *,!git
    ForwardAgent yes
    ForwardX11 yes
    ForwardX11Trusted yes
    TCPKeepAlive yes

Match User git
    RequestTTY no

{{- if glob ( joinPath .chezmoi.homeDir "/.ssh/id_ed25519" ) }}
Host *
    IdentitiesOnly yes
    IdentityFile ~/.ssh/id_ed25519
{{ end }}
