{
	"tags": ["dev"],
	"mcpServers": {
		"github": {
			"command": "docker",
			"args": [
				"run",
				"-i",
				"--rm",
				"-e",
				"GITHUB_PERSONAL_ACCESS_TOKEN",
				"ghcr.io/github/github-mcp-server"
			],
			"env": {
				"GITHUB_PERSONAL_ACCESS_TOKEN": "{{ if env "GITHUB_TOKEN" }}{{ env "GITHUB_TOKEN" }}{{ else }}{{ output "gh" "auth" "token" | trim }}{{ end }}"
			}
		}
	}
}
