{
	"tags": ["document"],
	"mcpServers": {
		"notion": {
			"command": "npx",
			"args": ["-y", "@notionhq/notion-mcp-server"],
			"env": {
				"NOTION_TOKEN": "{{ (bitwarden "item" "www.notion.so") | jq ".fields[] | select(.name == \"BearerForMCP\").value" | first }}"
			}
		}
	}
}
