{
  description = "A very basic flake";

  inputs = {
    nixpkgs.url = "github:nixos/nixpkgs?ref=nixos-unstable";
    flake-utils.url = "github:numtide/flake-utils";
  };

  outputs =
    { self, nixpkgs, flake-utils }:
    flake-utils.lib.eachDefaultSystem(
      system:
      let 
        pkgs = nixpkgs.legacyPackages.${system};
      in
      {
        packages.dev = pkgs.buildEnv {
          name = "dev";
          paths = with pkgs; [
            arduino-language-server
            {{range $name, $managers := .dependencies.dev -}}
            {{ get $managers "nix" | printf "%s " -}}
            {{- end }}
          ];
        };
      }
    );
}
