[user]
    name = motty
    email = motty.mio2@gmail.com
{{- if glob ( joinPath .chezmoi.homeDir "/.ssh/id_ed25519" ) }}
    signingkey = ~/.ssh/id_ed25519.pub
[commit]
    gpgsign = true
[gpg]
    format = ssh
{{ end }}
[core]
    autocrlf = input
    filemode = false
[fetch]
    prune = true
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
[init]
    defaultBranch = main
[merge]
    ff = false
[pull]
    ff = only
[alias]
    wad = "!git-worktree-add"
    wtr = "!git-worktree-root"
    wcl = "!git-workspace-clone"
