{
  description = "A very basic flake";

  inputs = {
    nixpkgs.url = "github:nixos/nixpkgs?ref=nixos-{{- .dependencies.nix }}";
    flake-utils.url = "github:numtide/flake-utils";
  };

  outputs =
    { self, nixpkgs, flake-utils }:
    flake-utils.lib.eachDefaultSystem (
      system:
      let
        pkgs = nixpkgs.legacyPackages.${system};
      in
      {
        packages.cli = pkgs.buildEnv {
          name = "cli";
          paths = with pkgs; [
            {{- range $name, $managers := .dependencies.cli -}}
              {{- if and (hasKey $managers "nix") (or (not (lookPath "mise")) (not (hasKey $managers "mise"))) -}}
                {{- get $managers "nix" | printf "%s " -}}
              {{- end -}}
            {{- end }}
          ];
        };
      }
    );
}
