{
  "permissions": {
    "allow": []
  },
  "enabledPlugins": {
    "clangd-lsp@claude-plugins-official": true,
    "liquid-lsp@claude-plugins-official": true,
    "pyright-lsp@claude-plugins-official": true,
    "typescript-lsp@claude-plugins-official": true
  },
  "theme": "dark",
    "statusLine": {
    "type": "command",
    "command": "{{ .chezmoi.homeDir }}/.local/bin/statusline.sh claude"
  }
}
