function Install-rust-Tools {
    rustup component add {{ .dependencies.rustup | join " " }}
}

function Install-uv-Tools {
    param (
        $UV_ENV = "$env:USERPROFILE\.local\bin",
        $executableName = "uv.exe"
    )

    foreach ($tool in @( {{- .dependencies.uv | quoteList | join ", " -}} )) {
        & "$UV_ENV\$executableName" tool install --upgrade $tool
    }

    & "$UV_ENV\$executableName" tool install --upgrade --from git+https://github.com/motty-mio2/dixp dixp
}

function Install-Scoop-Tools {
    scoop install `
        {{ range $name, $managers := .dependencies.cli -}}
        {{- get $managers "scoop" | printf "%s " -}}
        {{- end }}
}

function Install-Scoop-Dev-Tools {
    scoop install `
        {{ range $name, $managers := .dependencies.dev -}}
        {{- get $managers "scoop" | printf "%s " -}}
        {{- end }}
}

function Install-Scoop-GUI-Tools {
    scoop install `
        7zip geekuninstaller gsudo sysinternals `
        {{ range $name, $managers := .dependencies.desktop -}}
        {{- get $managers "scoop" | printf "%s " -}}
        {{- end }}
}

function Install-Windows-Software {
    # OpenSSH
    winget install --id Microsoft.OpenSSH.Beta --override ADDLOCAL=Client

    # PowerShell
    winget install --id  Microsoft.PowerShell

    # PowerToys
    winget install --id XP89DCGQ3K6VLD

    # Visual Studio Code
    winget install --id Microsoft.VisualStudioCode --override "/VERYSILENT /NORESTART /MERGETASKS=!runcode,addcontextmenufiles,addcontextmenufolders,associatewithfiles,addtopath"

    # Install Apps
    {{- range $name, $managers := .dependencies.desktop -}}
    {{  if get $managers "winget" }}
    winget install --id {{ get $managers "winget" | printf "%s " }}
    {{- end }}
    {{- end }}
}
