function Install-rust-Tools {
    rustup component add {{- .dependencies.rustup -}}
}

function Install-uv-Tools {
    param (
        $UV_ENV = "$env:USERPROFILE\.local\bin",
        $executableName = "uv.exe"
    )

    foreach ($tool in @( {{- .dependencies.uv | quoteList | join ", " -}} )) {
        & "$UV_ENV\$executableName" tool install --upgrade $tool
    }

    & "$UV_ENV\$executableName" tool install --upgrade --from git+https://github.com/motty-mio2/dixp dixp
}

function Install-Volta-Tools {
    param (
        $VOLTA_HOME = "$Env:VOLTA_HOME"
    )

    & "$VOLTA_HOME\bin\volta" install node@lts

    foreach ($tool in @( {{- .dependencies.volta | quoteList | join ", " -}} ) ) {
        & "$VOLTA_HOME\bin\volta" install $tool
    }
}

function Install-Scoop-Apps {
    scoop bucket add extras
    scoop bucket add java
    scoop bucket add versions
    scoop bucket add nerd-fonts
    scoop bucket add motty https://github.com/motty-mio2/scoop-bucket.git

    scoop install `
        7zip bat chezmoi cloudflared curl fd fzf geekuninstaller gh git glab grep gsudo `
        less llvm make nano neovim `
        oh-my-posh posh-git psfzf psreadline ripgrep sccache shellcheck shfmt starship stylua sysinternals task `
        wezterm wget which
}
