function Install-rust-Tools {
    rustup component add {{- .dependencies.rustup -}}
}

function Install-uv-Tools {
    param (
        $UV_ENV = "$env:USERPROFILE\.local\bin",
        $executableName = "uv.exe"
    )

    foreach ($tool in @( {{- .dependencies.uv | quoteList | join ", " -}} )) {
        & "$UV_ENV\$executableName" tool install --upgrade $tool
    }

    & "$UV_ENV\$executableName" tool install --upgrade --from git+https://github.com/motty-mio2/dixp dixp
}

function Install-Volta-Tools {
    param (
        $VOLTA_HOME = "$Env:VOLTA_HOME"
    )

    & "$VOLTA_HOME\bin\volta" install node@lts

    foreach ($tool in @( {{- .dependencies.volta | quoteList | join ", " -}} ) ) {
        & "$VOLTA_HOME\bin\volta" install $tool
    }
}

function Install-Scoop-Apps {
    scoop bucket add extras
    scoop bucket add java
    scoop bucket add versions
    scoop bucket add nerd-fonts
    scoop bucket add motty https://github.com/motty-mio2/scoop-bucket.git

    scoop install `
        7zip cloudflared geekuninstaller git grep gsudo `
        less make  `
        posh-git psfzf psreadline sysinternals `
        which
}


function Install-Windows-Software {
    # PowerToys
    winget install --id XP89DCGQ3K6VLD

    # Bitwarden
    winget install --id Bitwarden.Bitwarden

    # Visual Studio Code
    winget install --id Microsoft.VisualStudioCode --override "/VERYSILENT /NORESTART /MERGETASKS=!runcode,addcontextmenufiles,addcontextmenufolders,associatewithfiles,addtopath"

    # OpenSSH
    winget install --id Microsoft.OpenSSH.Beta --override ADDLOCAL=Client

    # PowerShell
    winget install --id  Microsoft.PowerShell
}
