try {
    Import-Module PSReadLine -ErrorAction Stop
} catch {
    Install-Module PSReadLine -Force -Scope CurrentUser
    Import-Module PSReadLine
} finally {
    Set-PSReadLineKeyHandler -Key Tab -Function MenuComplete
    Set-PSReadlineKeyHandler -Key ctrl+d -Function DeleteCharOrExit
    Set-PSReadLineOption

    Set-PSReadLineOption -Colors @{
        "Parameter" = [ConsoleColor]::Cyan
    }
}

try {
    Import-Module posh-git -ErrorAction Stop
} catch {
    Install-Module posh-git -Force -Scope CurrentUser
    Import-Module posh-git
}

try {
    Import-Module PSFzf -ErrorAction Stop
} catch {
    Install-Module PSFzf -Force -Scope CurrentUser
    Import-Module PSFzf
} finally {
    Set-PSFzfOption -PSReadlineChordProvider 'Ctrl+t'
    Set-PSFzfOption -PSReadlineChordReverseHistory 'Ctrl+r'
}

try {
    Invoke-Expression (&scoop-search --hook)
} catch {
    scoop install scoop-search
    Invoke-Expression (&scoop-search --hook)
}


Register-ArgumentCompleter -Native -CommandName winget -ScriptBlock {
    param($wordToComplete, $commandAst, $cursorPosition)
    [Console]::InputEncoding = [Console]::OutputEncoding = $OutputEncoding = [System.Text.Utf8Encoding]::new()
    $Local:word = $wordToComplete.Replace('"', '""')
    $Local:ast = $commandAst.ToString().Replace('"', '""')
    winget complete --word="$Local:word" --commandline "$Local:ast" --position $cursorPosition | ForEach-Object {
        [System.Management.Automation.CompletionResult]::new($_, $_, 'ParameterValue', $_)
    }
}

$host.ui.RawUI.WindowTitle = "$env:USERNAME@$env:COMPUTERNAME"

{{ if and (lookPath "starship") (eq .powershell "starship") }}
function Invoke-Starship-TransientFunction {
    &starship module character
}

{{ output "starship" "init" "powershell" }}
Enable-TransientPrompt
{{ else if and (lookPath "oh-my-posh") (eq .powershell "oh-my-posh")}}
# oh-my-posh
{{ output "oh-my-posh" "init" "pwsh" "--config" "~/.config/omp.toml" "--eval" "--print" | replaceAllRegex ".*POSH_SESSION_ID.+" "" }}
{{ end }}

