Import-Module PSReadLine -ErrorAction SilentlyContinue
Import-Module posh-git -ErrorAction SilentlyContinue
Import-Module PSFzf -ErrorAction SilentlyContinue

Set-PSReadLineKeyHandler -Key Tab -Function MenuComplete
Set-PSReadlineKeyHandler -Key ctrl+d -Function DeleteCharOrExit
Set-PSReadLineOption -Colors @{ "Parameter" = [ConsoleColor]::Cyan }

if (Get-Command Set-PSFzfOption -ErrorAction SilentlyContinue) { Set-PSFzfOption -PSReadlineChordProvider 'Ctrl+t'; Set-PSFzfOption -PSReadlineChordReverseHistory 'Ctrl+r' }
if (Get-Command scoop-search -ErrorAction SilentlyContinue) { Invoke-Expression (&scoop-search --hook) }

Register-ArgumentCompleter -Native -CommandName winget -ScriptBlock {
    param($wordToComplete, $commandAst, $cursorPosition)
    [Console]::InputEncoding = [Console]::OutputEncoding = $OutputEncoding = [System.Text.Utf8Encoding]::new()
    $Local:word = $wordToComplete.Replace('"', '""')
    $Local:ast = $commandAst.ToString().Replace('"', '""')
    winget complete --word="$Local:word" --commandline "$Local:ast" --position $cursorPosition | ForEach-Object {
        [System.Management.Automation.CompletionResult]::new($_, $_, 'ParameterValue', $_)
    }
}

$host.ui.RawUI.WindowTitle = "$env:USERNAME@$env:COMPUTERNAME"

{{ if and (lookPath "starship") }}
function Invoke-Starship-TransientFunction {
    &starship module character
}
{{  output "starship" "init" "powershell" "--print-full-init"
    | replace (lookPath "starship") "starship"
}}
Enable-TransientPrompt
{{ end }}
