{{ if and (ne .chezmoi.os "windows") (lookPath "cargo") -}}

#!/bin/sh
mkdir -p ~/.config/bash/completion
cp "$(rustup toolchain list -v | grep default | cut -d' ' -f4)/etc/bash_completion.d/cargo" ~/.config/bash/completion

mkdir -p ~/.config/zsh/completion
cp "$(rustup toolchain list -v | grep default | cut -d' ' -f4)/share/zsh/site-functions/_cargo" ~/.config/zsh/completion

{{ end }}
