$configure_folder = $HOME + "\.local\share\chezmoi\tools\windows\conf"

Get-ChildItem -Path ($configure_folder) -Recurse -Include *.ps1 | ForEach-Object -Process {
    Invoke-Expression (". " + $_)
}


{{ if (eq .powershell "starship") }}
function Invoke-Starship-TransientFunction {
    &starship module character
}

#function Invoke-Starship-PreCommand {
#}

Invoke-Expression (&starship init powershell)

Enable-TransientPrompt
{{ else }}
# oh-my-posh
oh-my-posh init pwsh --config ~/.config/theme.omp.json | Invoke-Expression
Enable-PoshTransientPrompt
{{ end }}
