{{- if eq .chezmoi.os "windows" -}}
{{- $pref_cli := "mise" -}}
{{- if hasKey . "package_managers" -}}
  {{- $pref_cli = get .package_managers "cli" | default "mise" -}}
{{- else if hasKey . "preferred_installer" -}}
  {{- $pref_cli = get .preferred_installer "cli" | default "mise" -}}
{{- end -}}
{{- $pref_dev := "mise" -}}
{{- if hasKey . "package_managers" -}}
  {{- $pref_dev = get .package_managers "dev" | default "mise" -}}
{{- else if hasKey . "preferred_installer" -}}
  {{- $pref_dev = get .preferred_installer "dev" | default "mise" -}}
{{- end -}}
{{- $pref_desktop := "scoop" -}}
{{- if hasKey . "package_managers" -}}
  {{- $pref_desktop = get .package_managers "desktop" | default "scoop" -}}
{{- else if hasKey . "preferred_installer" -}}
  {{- $pref_desktop = get .preferred_installer "desktop" | default "scoop" -}}
{{- end -}}

{{- $buckets := list -}}
{{- range .dependencies.scoop.default -}}
  {{- $buckets = append $buckets (dict "Name" .) -}}
{{- end -}}
{{- range $name, $source := .dependencies.scoop.external -}}
  {{- $buckets = append $buckets (dict "Name" $name "Source" $source) -}}
{{- end -}}

{{- $app_names := list -}}

{{- /* CLI tools */ -}}
{{- range $name, $managers := .dependencies.cli -}}
  {{- if hasKey $managers "scoop" -}}
    {{- if or (eq $pref_cli "scoop") (not (hasKey $managers "mise")) -}}
      {{- $app_names = append $app_names (get $managers "scoop") -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{- /* Dev tools */ -}}
{{- range $name, $managers := .dependencies.dev -}}
  {{- if hasKey $managers "scoop" -}}
    {{- if or (eq $pref_dev "scoop") (not (hasKey $managers "mise")) -}}
      {{- $app_names = append $app_names (get $managers "scoop") -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{- /* Desktop tools & default GUI */ -}}
{{- $default_gui := list "7zip" "geekuninstaller" "gsudo" "sysinternals" -}}
{{- range $default_gui -}}
  {{- $app_names = append $app_names . -}}
{{- end -}}
{{- range $name, $managers := .dependencies.desktop -}}
  {{- if hasKey $managers "scoop" -}}
    {{- if or (eq $pref_desktop "scoop") (not (hasKey $managers "mise")) -}}
      {{- $app_names = append $app_names (get $managers "scoop") -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{- $apps := list -}}
{{- range ($app_names | uniq | sortAlpha) -}}
  {{- $apps = append $apps (dict "Name" . "Source" .) -}}
{{- end -}}

{{ dict "buckets" $buckets "apps" $apps | toPrettyJson "  " }}
{{- end -}}
