# Environement
{{- if lookPath "nvim" }}
export EDITOR=nvim
{{- else if lookPath "vim" }}
export EDITOR=vim
{{- end }}

for file in $(find "${HOME}/.config/shell" -name "*.sh"); do
    #shellcheck source=/dev/null
    source "${file}"
done

