# マッチしない：外部
{{ if eq .chezmoi.os "windows" }}
Match User mn !Exec "ping -4 -n 1 tippy.mio2.info > nul"
    ProxyJump cloudflare
{{else}}
Match User mn !Exec "ping -4 -c 1 tippy.mio2.info > /dev/null 2>&1"
    ProxyJump cloudflare
{{end}}

Match User pt
    ProxyJump cf_c
