{
  "$schema": "https://raw.githubusercontent.com/himorishige/hatago-mcp-hub/main/schemas/config.schema.json",
  "version": 1,
  "mcpServers": {
    "deepwiki": {
      "url": "https://mcp.deepwiki.com/sse",
      "type": "sse"
    },
    "github": {
      "url": "https://api.githubcopilot.com/mcp/"
    },
    {{ if lookPath "bw" -}}
    "notion": {
      "command": "npx",
      "args": [
        "-y",
        "@notionhq/notion-mcp-server"
      ],
      "env": {
        "NOTION_TOKEN": "{{ (bitwarden "item" "www.notion.so") | jq ".fields[] | select(.name == \"BearerForMCP\").value" | first }}"
      }
    },
    {{ end -}}
    "mcp-obsidian": {
      "command": "npx",
      "args": [
        "-y",
        "mcp-obsidian",
        "{{ joinPath .chezmoi.homeDir "Documents/Obsidian" | replace "\\" "/" }}"
      ]
    }
  }
}
