"$schema" = 'https://starship.rs/config-schema.json'

format = """
[ ](fg:separator bg:base_background)\
[$username@$hostname](bg:base_background)\
[  ](fg:separator bg:base_background)\
$directory\
$git_branch($git_status)\
$python\
$cmd_duration\


[](fg:base_background)\
 $os\
$character\
"""

# Inserts a blank line between shell prompts
add_newline = false
command_timeout = 1000
palette = 'mypower'

[palettes.mypower]
text = 'white'
base_background = '#444444'
separator = '#868686'

# Replace the '❯' symbol in the prompt with '➜'
#[character] # The name of the module we are configuring is 'character'
#success_symbol = '[➜](bold green)' # The 'success_symbol' segment is being set to '➜' with the color 'bold green'

# Disable the package module, hiding it from the prompt completely
[package]
disabled = true

[cmd_duration]
min_time = 0
format = '[](fg:separator bg:base_background)[ $duration]($style)'
style = 'bg:base_background'

[directory]
truncate_to_repo = false
truncation_length = 8
before_repo_root_style = 'fg:cyan bg:base_background'
style = 'bg:base_background'
repo_root_style = 'fg:green bg:base_background'
format = '[$path ]($style)'
repo_root_format = '[$before_root_path]($before_repo_root_style)[$repo_root]($repo_root_style)[$path]($repo_root_style)[$read_only]($read_only_style)[ ]($style)'
use_os_path_sep = false

[git_branch]
style = "bg:base_background"
symbol = ' '
format = '[](fg:separator bg:base_background)([ $symbol$branch(:$remote_branch) ]($style))'

[git_status]
style = "bg:base_background"
untracked = "?($count)"
modified = "!($count)"
staged = "+($count)"
ahead = '⇡${count}'
behind = '⇣${count}'
diverged = '⇡${ahead_count}⇣${behind_count}'

format = '([$untracked$modified$staged$ahead_behind]($style))'

[hostname]
ssh_only = false
style = "bg:base_background"
format = '[$hostname]($style)'
trim_at = '.'

[os]
format = "[$symbol]($style)"
style = "fg:bold blue bg:base_background"
disabled = false

[os.symbols]
Windows = " "
Debian = " "
Ubuntu = " "
Arch = "󰣇"
Fedora = " "

[python]
style = "bg:base_background"
python_binary = ['python', 'python3', 'python3.exe', 'python3.bat']
format = '[ [](fg:separator bg:base_background) ${symbol}${version} ]($style)'

[username]
style_user = "bg:base_background"
style_root = "bg:base_background"
format = '[$user]($style)'
show_always = true

[time]
disabled = false
format = '[$time]($style) '
